---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<section>
  
  <h3>Conference</h3>
  <ul>
    <li><strong>Charles Westphal</strong>, Stephen Hailes, and Mirco Musolesi. <em>Feature Selection for Network Intrusion Detection</em>. To appear in <em>SIGKDD'25</em>, 2025.</li>
    <li><strong>Charles Westphal</strong>, Stephen Hailes, and Mirco Musolesi. <em>Partial Information Decomposition for Data Interpretability and Feature Selection</em>. To appear in <em>AISTATS'25</em>, 2025.</li>
  </ul>

  <h3>Preprints</h3>
  <ul>
    <li><strong>Charles Westphal</strong>, Stephen Hailes, and Mirco Musolesi. <em>Mutual Information Preserving Neural Network Pruning</em>.</li>
    <li><strong>Charles Westphal</strong>, Stephen Hailes, and Mirco Musolesi. <em>Information-Theoretic State Variable Selection for Reinforcement Learning</em>.</li>
  </ul>
</section>


